pypdf
pydantic
python-dotenv
langchain
langchain-openai
langchain-community
langgraph
chromadb
sentence-transformers
openai
pandas
numpy
openpyxl
json5
pydantic-settings
fastapi
uvicorn
jinja2
spacy
pillow
pypdf
pdfplumber
rank-bm25
streamlit
streamlit-chat
